.Titulos {
  font-size: 30px;
  color: rgb(250, 251, 252);
  background-color: rgb(37, 70, 70);
  position: sticky;
}

.Titulos.selectores {
  top: 0px;
  bottom: 10px;
}

.Titulos.unidades {
  top: 0px;
  bottom: -55px;
}

.Titulos.jerarquia {
  top: 0px;
  bottom: -100px;
}

.Titulos.display {
  top: 0px;
  bottom: -103px;
}

.box {
  width: 150px;
  height: 100px;
  margin: 50px;
  padding: 10px;
  border: 5px solid black;
  background-color: rgb(66, 112, 97);
}

p:first-child {
  background-color: aqua;
}

div.selectores {
  height: auto;
  width: auto;
  background-color: cadetblue;
  border: black 1px solid;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#caja1 {
  width: 50%;
}

#caja2 {
  width: 100vh;
}

#cajacontenedora,
#caja3 {
  width: 100px;
  margin: 0px;
}

#caja3 {
  width: 80vh;
  background: cyan;
}

p.unidades {
  font-size: 20px;
}

div.unidades {
  font-size: 1rem;
}
p.parrafo2 {
  font-size: 2rem;
}

h3#titulo1 {
  background-color: green;
}

h3 {
  background-color: red;
}

h3 {
  background-color: yellow !important;
}

.Display {
  background-color: aquamarine;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#d1 {
  display: block;
}

#d2,
#d4 {
  display: inline;
}

#d3 {
  display: none;
}

#d5 {
  display: inline-block;
}

.padre {
  border: 2px solid rgb(69, 236, 236);
  color: rgb(69, 236, 236);
  padding: 20px;
}

.position.static,
.position.relativo,
.position.absoluto {
  top: 20px;
  background-color: grey;
}

.relativo {
  position: relative;
  top: 20px;
  left: 100px;
}

.absoluto {
  position: absolute;
  top: 100px;
  left: 100px;
}
