.Titulos {
  font-size: 30px;
  color: rgb(250, 251, 252);
  background-color: rgb(37, 70, 70);
  position: sticky;
}

.Titulos.selectores {
  top: 0px;
  bottom: 10px;
}

.Titulos.unidades {
  top: 0px;
  bottom: -55px;
}

.Titulos.jerarquia {
  top: 0px;
  bottom: -100px;
}

.Titulos.display {
  top: 0px;
  bottom: -180px;
}

.Titulos.position {
  top: 0px;
  bottom: -185px;
}

.Titulos.flex {
  top: 0px;
  bottom: -193px;
}

.Titulos.Grid {
  top: 0px;
  bottom: -193px;
}

.Titulos.Grid2 {
  top: 0px;
  bottom: -200px;
}

.Titulos.Grid3 {
  top: 0px;
  bottom: -220px;
}

.Titulos.Media {
  top: 0%;
}

.Titulos.Animaciones {
  top: 0px;
}

.box {
  width: 150px;
  height: 100px;
  margin: 50px;
  padding: 10px;
  border: 5px solid black;
  background-color: rgb(66, 112, 97);
}

p:first-child {
  background-color: aqua;
}

div.selectores {
  height: auto;
  width: auto;
  background-color: cadetblue;
  border: black 1px solid;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#caja1 {
  width: 50%;
}

#caja2 {
  width: 100vh;
}

#cajacontenedora,
#caja3 {
  width: 100px;
  margin: 0px;
}

#caja3 {
  width: 80vh;
  background: cyan;
}

p.unidades {
  font-size: 20px;
}

div.unidades {
  font-size: 1rem;
}
p.parrafo2 {
  font-size: 2rem;
}

h3#titulo1 {
  background-color: green;
}

h3 {
  background-color: red;
}

h3.subtitulos {
  background-color: aquamarine;
}

.Display {
  background-color: aquamarine;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#d1 {
  display: block;
}

#d2,
#d4 {
  display: inline;
}

#d3 {
  display: none;
}

#d5 {
  display: inline-block;
}

.padre {
  border: 2px solid rgb(69, 236, 236);
  color: rgb(69, 236, 236);
  padding: 20px;
}

.position.static,
.position.relativo,
.position.absoluto {
  top: 20px;
  background-color: grey;
}

.relativo {
  position: relative;
  top: 20px;
  left: 100px;
}

.absoluto {
  position: absolute;
  top: 100px;
  left: 100px;
}

#cflex1,
#cflex11 {
  background-color: rgb(83, 169, 240);
}

#cflex2,
#cflex12 {
  background-color: rgb(73, 212, 103);
}
#cflex3,
#cflex13 {
  background-color: rgb(233, 168, 233);
}
#cflex4,
#cflex14 {
  background-color: rgb(221, 70, 50);
}
#cflex5,
#cflex15 {
  background-color: rgb(212, 189, 54);
}

.hijos {
  margin: 5px;
  border: black 1px solid;
}

#padre {
  border: black 2px solid;
  display: flex;
  flex-direction: column-reverse;
  margin: 10px;
}

#padre2 {
  background-color: rgb(175, 172, 172);
  border: black 2px solid;
  display: flex;
  flex-wrap: wrap;
}
/*GRID*/

.Grid.hijos {
  min-height: 100px;
  max-height: 200px;
  width: auto;
  border: black 1px solid;
}

.Grid.Padre {
  background-color: rgb(184, 181, 181);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr auto;
}

.Grid.hijos.c1 {
  background-color: rgb(240, 72, 72);
}
.Grid.hijos.c2 {
  background-color: rgb(224, 224, 93);
}
.Grid.hijos.c3 {
  background-color: rgb(127, 224, 127);
}
.Grid.hijos.c4 {
  background-color: rgb(82, 149, 204);
}
.Grid.hijos.c5 {
  background-color: rgb(190, 133, 197);
}

.Grid.Padre.areas {
  background-color: rgb(142, 80, 167);
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, minmax(100px, 200px));

  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}

.Grid.hijos.header {
  background-color: rgb(240, 72, 72);
  grid-area: header;
}
.Grid.hijos.main {
  background-color: rgb(224, 224, 93);
  grid-area: main;
}
.Grid.hijos.sidebar {
  background-color: rgb(127, 224, 127);
  grid-area: sidebar;
}
.Grid.hijos.footer {
  background-color: rgb(82, 149, 204);
  grid-area: footer;
}

/*GRID 2*/

.Grid2.Padre {
  background-color: rgb(184, 181, 181);
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px 60px;
}

.Grid2.hijos {
  height: 100px;
  width: auto;
  margin: 0px;
  border: black 1px solid;
}

.Grid2.hijos.c1 {
  background-color: rgb(240, 72, 72);
}
.Grid2.hijos.c2 {
  background-color: rgb(224, 224, 93);
}
.Grid2.hijos.c3 {
  background-color: rgb(127, 224, 127);
}
.Grid2.hijos.c4 {
  background-color: rgb(82, 149, 204);
}
.Grid2.hijos.c5 {
  background-color: rgb(190, 133, 197);
}

.Grid2.Padre2 {
  background-color: rgb(184, 181, 181);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.Grid2.hijos2 {
  height: 100px;
  min-width: 100px;
  margin: 0px;
  border: black 1px solid;
}

.Grid2.hijos2.c11 {
  background-color: rgb(240, 72, 72);
}
.Grid2.hijos2.c12 {
  background-color: rgb(224, 224, 93);
}
.Grid2.hijos2.c13 {
  background-color: rgb(127, 224, 127);
}
.Grid2.hijos2.c14 {
  background-color: rgb(82, 149, 204);
}
.Grid2.hijos2.c15 {
  background-color: rgb(190, 133, 197);
}

.Grid2.Padre3 {
  background-color: rgb(184, 181, 181);
  margin: 5px;
  display: inline-grid;
  grid-template-columns: 200px 200px 200px;
  justify-items: center;
  height: 500px;
  width: 600px;
  justify-content: space-around;
}

.Grid2.hijos3 {
  height: 100px;
  width: 150px;
  margin: 0px;
  border: black 1px solid;
}

.Grid2.hijos3.c1 {
  background-color: rgb(240, 72, 72);
}
.Grid2.hijos3.c2 {
  background-color: rgb(224, 224, 93);
}
.Grid2.hijos3.c3 {
  background-color: rgb(127, 224, 127);
}
.Grid2.hijos3.c4 {
  background-color: rgb(82, 149, 204);
}
.Grid2.hijos3.c5 {
  background-color: rgb(190, 133, 197);
}

.Grid2.Padre4 {
  background-color: rgb(184, 181, 181);
  margin: 5px;
  display: inline-grid;
  grid-template-columns: 200px 200px 200px;
  justify-items: stretch;
  height: 500px;
  width: 600px;
  justify-content: space-evenly;
}

.Grid2.hijos4 {
  height: 100px;
  width: 150px;
  margin: 0px;
  border: black 1px solid;
}

.Grid2.hijos4.c1 {
  background-color: rgb(240, 72, 72);
}
.Grid2.hijos4.c2 {
  background-color: rgb(224, 224, 93);
}
.Grid2.hijos4.c3 {
  background-color: rgb(127, 224, 127);
}
.Grid2.hijos4.c4 {
  background-color: rgb(82, 149, 204);
}
.Grid2.hijos4.c5 {
  background-color: rgb(190, 133, 197);
}

/* GRID 3*/

.Grid3.Padre {
  background-color: rgb(184, 181, 181);
  margin: 5px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
}

.Grid3.hijos {
  height: 100px;
  width: 100px;
  margin: 0px;
  border: black 1px solid;
}

.Grid3.hijos.c1 {
  background-color: rgb(240, 72, 72);
  justify-self: start;
  align-self: end;
}
.Grid3.hijos.c2 {
  background-color: rgb(224, 224, 93);
  justify-self: end;
  align-self: center;
}
.Grid3.hijos.c3 {
  background-color: rgb(127, 224, 127);
  justify-self: center;
  align-self: center;
}
.Grid3.hijos.c4 {
  background-color: rgb(82, 149, 204);
  grid-column: 3;
}
.Grid3.hijos.c5 {
  background-color: rgb(190, 133, 197);
  grid-column: 2;
  grid-row: 2;
}

/*MEDIA QUERY*/

.Media.Padre {
  background-color: rgb(184, 181, 181);
  margin: 5px;
  height: 600px;
  display: inline-grid;
  grid-template-columns: 200px 200px 200px;
  justify-items: stretch;
  height: 700px;
  justify-content: space-evenly;
  width: 100%;
}

.Media.hijos {
  height: 100px;
  width: 500px;
  margin: 0px;
  border: black 1px solid;
}

.Media.hijos.c1 {
  background-color: rgb(240, 72, 72);
}
.Media.hijos.c2 {
  background-color: rgb(224, 224, 93);
}
.Media.hijos.c3 {
  background-color: rgb(127, 224, 127);
}
.Media.hijos.c4 {
  background-color: rgb(82, 149, 204);
}
.Media.hijos.c5 {
  background-color: rgb(190, 133, 197);
}

@media only screen and (min-width: 251px) and (max-width: 599px) {
  .Media.hijos.c1,
  .Media.hijos.c2,
  .Media.hijos.c3,
  .Media.hijos.c4,
  .Media.hijos.c5 {
    background-color: aliceblue;
    width: 50px;
    margin: 0px;
    border: black 1px solid;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .Media.hijos.media {
    background-color: rgb(19, 20, 20);
    width: 100px;
    margin: 0px;
    border: black 1px solid;
  }
}

/*Animaciones*/

.Animaciones.cuadro {
  animation: caida 2s linear 1ms 2;
  @keyframes caida {
    -webkit-from {
      top: 0px;
      background-color: yellow;
    }
    -webkit-to {
      top: 200px;
    }
  }
}

.Animaciones.cuadro {
  height: 200px;
  width: 200px;
  background-color: brown;
  position: absolute;
  overflow: hidden;
}
