.Titulos {
  font-size: 30px;
  color: rgb(250, 251, 252);
  background-color: rgb(37, 70, 70);
}

.box {
  width: 150px;
  height: 100px;
  margin: 50px;
  padding: 10px;
  border: 5px solid black;
  background-color: rgb(66, 112, 97);
  overflow: auto;
}

p:first-child {
  background-color: aqua;
}

div.selectores {
  height: auto;
  width: auto;
  background-color: cadetblue;
  border: black 1px solid;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#caja1 {
  width: 50%;
}

#caja2 {
  width: 100vw;
}

#cajacontenedora,
#caja3 {
  width: 100px;
  margin: 0px;
}

#caja3 {
  width: 80vw;
  background: cyan;
}

p.unidades {
  font-size: 20px;
}

div.unidades {
  font-size: 1rem;
}
p.parrafo2 {
  font-size: 2rem;
}
